In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,King Crimson,One Time,"One eye goes laughing, \r\nOne eye goes cryin..."
1,Queen,Surf's Up... School's Out,"Surf's up, school's out \r\nI got a criminal ..."
2,Arlo Guthrie,Last To Leave,"Lonely sunshine, days come easy, \r\nSpend my..."
3,Tom T. Hall,When Nobody Wants Your Body Anymore,You were meant for me and there ain't no two w...
4,Depeche Mode,Route 66,Well if you ever plan to motor west \r\nTrave...
5,John Mellencamp,Young Genocides,Written by John Mellencamp \r\n \r\nDestiny ...
6,Katy Perry,The One That Got Away,"Summer after high school, when we first met \..."
7,Glee,Bust A Move,This here's a tale for all the fellas \r\nTry...
8,Andy Williams,The Impossible Dream,To dream the impossible dream \r\nTo fight th...
9,Glen Campbell,Daddy Sang Bass,I remember when I was a lad times were hard an...

In [10]:
df['text'][0]

"One eye goes laughing,  \r\nOne eye goes crying  \r\nThrough the trials and trying of one life  \r\nOne hand is tied,  \r\nOne step gets behind  \r\nIn one breath we're dying  \r\n  \r\nI've been waiting for the sun to come up  \r\nWaiting for the showers to stop  \r\nWaiting for the penny to drop  \r\nOne time  \r\n  \r\nAnd I've been standing in a cloud of plans  \r\nStanding on the shifting sands  \r\nHoping for an open hand  \r\nOne time\r\n\r\n"

In [11]:
# df = df.sample(5000)

In [12]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [15]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [18]:
similarity[0]

array([1.        , 0.00989865, 0.04536584, ..., 0.02236513, 0.02093375,
       0.03644615])

In [ ]:
import pickle
pickle.dump(similarity,open('/static/similarity.pkl','wb'))
pickle.dump(df,open('/static/df.pkl','wb'))